#wrapper {
  width: 100%;
}
#wrapper #header {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  height: 50px;
}
#wrapper #header .agent_dashboard {
  width: 30px;
  height: 30px;
}
#wrapper #header span {
  font-size: 15px;
}
#wrapper #header .dashboard_logo {
  display: inline-block;
}
#wrapper #header .dashboard_setting {
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
}
#wrapper #header .dashboard_setting #dropdown_setting {
  top: 58px;
}
#wrapper #container {
  clear: both;
  padding: 12px 0px 12px 12px;
}
#wrapper #container #left_content {
  display: inline-block;
  width: 30%;
}
#wrapper #container #left_content #activities {
  overflow: auto;
  height: 500px;
}
#wrapper #container #left_content #activities ul li {
  border: 1px solid black;
  margin-bottom: 10px;
  list-style: none;
}
#wrapper #container #left_content #activities ul li .activity_name {
  border-bottom: 1px solid black;
  height: 30px;
  padding: 5px;
}
#wrapper #container #left_content #activities ul li .activity_name p {
  display: inline-block;
}
#wrapper #container #left_content #activities ul li .activity_name p:nth-child(1) {
  float: left;
}
#wrapper #container #left_content #activities ul li .activity_name p:nth-child(2) {
  float: right;
}
#wrapper #container #left_content #activities ul li .activity_descriptions {
  padding: 10px;
}
#wrapper #container #left_content #activities ul li .activity_descriptions .left_description {
  display: inline-block;
  text-align: center;
  width: 49%;
}
#wrapper #container #left_content #activities ul li .activity_descriptions .right_description {
  border-left: 1px solid black;
  display: inline-block;
  width: 49%;
  padding: 10px;
}
#wrapper #container #left_content #activities ul li .activity_descriptions .right_description h2 {
  margin-left: 38%;
}
#wrapper #container #main_content {
  display: inline-block;
  vertical-align: top;
  width: 69%;
}
#wrapper #container #main_content #highcharts_section {
  padding: 10px;
  border: 1px solid black;
}
#wrapper #container #main_content #highcharts_section h1 {
  display: inline-block;
}
#wrapper #container #main_content #highcharts_section h3 {
  display: inline-block;
}
