*{
	padding : 0;
	margin : 0;
}
#game_dashboard{
	border: 1px solid black;
}
.row{
	display: inline-block;
}

.white{
	height: 80px;
	width: 80px;
	background-color: white;
    position: relative;
}
.black{
	height: 80px;
	width: 80px;
	background-color: black;

}
#wrapper{
	width: 100%;
}

#login_dashboard{
	margin: 0px auto;
	width: 25%;
	text-align: center;
}

#login_dashboard h1{
	margin-top: 100px;
	margin-bottom: 50px;
}

#game_options{
	margin: 10px;
}

#game_options button{
	width: 70px;
	height:30px;
}	

#show_score button{
	width: 100px;
}
h3{
	margin-bottom: 10px;
}

#AI_start_game button, #player_2_start_game button{
	margin-top: 20px;
	width: 70px;
}

#play_with_player_2_dashboard, #play_with_AI_dashboard {
	padding: 10px 0px;
	border: 1px solid gray;
	display: none;
}

#show_game_score{
	text-align: center;
	display: none;
}

#show_game_score th{
	width: 160px;
}
#show_game_score button{
	margin-top: 20px;
	width: 160px;
}

.player_1_piece{
	border: 1px solid red; 
	border-radius: 25px;
    width: 50px;
    height: 50px;
	background-color: red;
    position: absolute;
    top: 18%;
    left: 18%;
}

.player_1_piece p,
.player_2_piece p {
    text-align: center;
    font-size: 19px;
}

.player_2_piece{
	border: 1px solid blue; 
	border-radius: 25px;
    width: 50px;
    height: 50px;
	background-color: blue;
    position: absolute;
    top: 18%;
    left: 18%;
}

#left_container{
	border: 1px solid red;
	width: 8%;
	text-align: center;
	display: inline-block;
	height: 100vh;
}
#game_dashboard h1{
	padding: 10px;
	border: 2px solid black;
}

#left_container #game_information{
	margin-bottom: 137%;
}
#left_container #game_information h3{
	margin: 20px 0px;
}

#left_container button{
	display: block;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 30px;
}

#main_container {
	border: 1px solid blue;
	// width: 91.555%;
	display: inline-block;
	vertical-align: top;
	height: 100vh;
}
#main_container #game{
	margin: 20px;
	border: 1px solid brown;
	width: 97.555%;
	display: inline-block;
	vertical-align: top;
	height: 96vh;
}

.piece_selected{
	border: 3px solid green;
}
.can_move_piece{
	border: 3px solid green;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 18%;
    left: 18%;
}

#player_quit_modal{
    width: 200px;
    position: relative;
    left: 800px;
    text-align: center;
    border: 1px solid gray;
    background-color: gray;
    bottom: 800px;
}
#player_complete{
    width: 200px;
    position: relative;
    left: 800px;
    text-align: center;
    border: 1px solid gray;
    background-color: gray;
    bottom: 800px;
}